<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en">
<head>
  <title> Melon </title>
  <!-- Meta Tags Begin -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="">
  <meta name="robots" content="index follow">
  <meta name="description" content="">
  <!-- Link tags begin -->
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="/static/js/jquery-2.1.4.min.js"> </script>
</head>
<body>
  <div id="rel">
    <div class="mobile-nav">
      <i class="fa fa-times"> </i>
      <ul>
        <li class="port"><a href="#"> The Software </a> </li>
        <li><a href="/about/"> About Us</a> </li>
        <li><a href="mailto:modupeh1@gmail.com"> Contact </a> </li>
      </ul>
    </div>
  </div>

  <div class="pos-fixed">
    <div class="container">
      <div class="logo"><a href='/'> <span class="blue">Me</span>lon </a> </div>
      <div id="toggle">
        <i class="fa fa-bars fa-2x"> </i>
        </div>
        <!-- toggle for mobile end above -->
        <!-- navigation links start below -->
      <nav>
        <ul>
          <li class="port"><a href="/software/"> The Software </a> </li>
          <li><a href="/about/"> About Us </a> </li>
          <li><a href="mailto:modupeh1@gmail.co.uk"> Contact </a> </li>
        </ul>
        </nav>
      <!-- navigation end -->
      <!-- end of container below -->
      </div>
    <!-- end of pos-fixed -->
    </div>
    <header>
    <div class="header header-about"> 
      <h1> about the team </h1>
      <p> We are a group of four postgraduate students undertaking MSc Bioinformatics at Queen Mary University of London </p>
      <div class="button pos-button team-scroll"> <a href="#team"</a> Meet the Team!</div>
      <!-- ends header below -->
    </div>
    </header>
    <!-- ** begin team profiles section ** -->
    <section class="team-profiles">
      <div class="container">
        <h2 id="team"> Meet The Team</h2>
        <h3> Welcome to Our Melon transcriptomics software analysis tool. Melon was developed as part of our MSc Bioinformatics degree. We are Modupeh Betts, Nadim Rahman, Maddy Rhodes and Andrew Knowles.</h3>
        <!--  for profile section -->
        <div class="bit-2">
          <div class="bit-2">
        <!-- begin employee profile - picture, position in company, paragraph about, also social media icons -->
          <figure>
            <img src="/static/img/modupeh.png" alt="Modupeh Betts">
          </figure>
            </div>
        <div class="bit-2">
          <h3> Modupeh Betts</h3>
          <h4> Developer (UI/UX) </h4>
          <p>I helped develop the frontend user interface and integration of the backend components of Melon software. I am interested in epigenetic mechanisms linking pre-conception nutrition and health in children. 
          </p>
          <!-- social links -->
          <div class="social">
            <div class="bit-3">
              <a class="social-link twitter" href="#">
              <i class="fa fa-twitter fa-2x"> </i>
              </a>
            </div>

            <div class="bit-3">
              <a class="social-link linkedin" href="#">
              <i class="fa fa-linkedin fa-2x"> </i>
              </a>
            </div>

            
            </div>
          </div>
        </div>
        <div class="bit-2">
          <div class="bit-2">
        <!-- **begin employee profile - picture, position in company, paragraph about, also social media icons ** -->
          <figure>
            <img src="/static/img/nadim.png" alt="Nadim Rahman">
          </figure>
            </div>
        <div class="bit-2">
          <h3> Nadim Rahman</h3>
          <h4> Back End Developer (BLAST)</h4>
          <p>Hi! I'm Nadim and I'm a MSc Bioinformatics student at QMUL, with a BSc in Biomedical Sciences.
          I love to keep up with current cancer and genetics advances (as well as Game of Thrones and Stranger Things). </p>
          <!-- social links -->
          <div class="social">
            <div class="bit-3">
              <a class="social-link twitter" href="#">
              <i class="fa fa-twitter fa-2x"> </i>
              </a>
            </div>

            <div class="bit-3">
              <a class="social-link linkedin" href="#">
              <i class="fa fa-linkedin fa-2x"> </i>
              </a>
            </div>

            </div>
          </div>
        </div>

            <!-- ends social links -->
            <div class="bit-2">
              <div class="bit-2">
            <!-- begin employee profile - picture, position in company, paragraph about, also social media icons -->
              <figure>
                <img src="/static/img/maddy.png" alt="maddy">
              </figure>
                </div>
            <div class="bit-2">
              <h3> Maddy Rhodes</h3>
              <h4> Back End Developer (R)</h4>
              <p>"Hi, I'm Maddy, I have an undergraduate degree in zoology (so naturally I love animals). I am also fluent in sarcasm." </p>
              <!-- social links -->
              <div class="social">
                <div class="bit-3">
                  <a class="social-link twitter" href="#">
                  <i class="fa fa-twitter fa-2x"> </i>
                  </a>
                </div>

                <div class="bit-3">
                  <a class="social-link linkedin" href="#">
                  <i class="fa fa-linkedin fa-2x"> </i>
                  </a>
                </div>

                </div>
              </div>
            </div>
            <div class="bit-2">
              <div class="bit-2">
            <!-- begin employee profile - picture, position in company, paragraph about, also social media icons -->
              <figure>
                <img src="/static/img/andrew.png" alt="Some dude">
              </figure>
                </div>
            <div class="bit-2">
              <h3> Andrew Knowles</h3>
              <h4> Full Stack Developer</h4>
              <p>"Hi my name is Andrew Knowles (no I'm not related to Beyonce!). I am interested in microbiology and the works of Karl Marx." </p>
              <!-- social links -->
              <div class="social">
                <div class="bit-3">
                  <a class="social-link twitter" href="#">
                  <i class="fa fa-twitter fa-2x"> </i>
                  </a>
                </div>

                <div class="bit-3">
                  <a class="social-link linkedin" href="#">
                  <i class="fa fa-linkedin fa-2x"> </i>
                  </a>
                </div>

                </div>
              </div>
            </div>
        </div>
      <!-- closes container -->
      <!-- ENDS EMPLOYEE SECTION -->
  </section>
  <section>
      <div class="contact-cta">
      <h2> </h2>
      <p> </p>
      <div class="button home-contact">
        <a href="mailto: modupeh1@gmail.co.uk"> Contact Us </a>
          </div>
        </div>
    </section>
    <footer>
      <div class="container">
        <div class="copyright">

          <p> &copy; 2017 Betts, M., Rahman, NM., Rhodes, MC.,  Knowles, AD.  </p>


          <ul>
            <li><a href="#"> GitHub Page </a> </li>
            <li><a href="http://www.qmul.ac.uk/postgraduate/taught/coursefinder/courses/121410.html"> Connect </a> </li>
          </ul>

      </div>
    </div>
    </footer>
    <script src="/static/js/functions-min.js" async> </script>
  </body>
</html>