<!-- begin header -->
{% extends "layout.html"%}


{%block content%}
    <
    <section>
    <div class="container">
      <div class="services">
        <h2> Tools </h2>
        <div class="bit-3">
        <div class="responsive">
          <img class="responsive-svg" src="static/img/nucleutide-blast-cover.png" alt="responsive web design icon">
          <h4></h4>
          </div>
        <!-- closes responsive div - above -->
        
      </div>

      <div class="bit-3">
        <div class="digi-ad">
          <img class="digi-ad-svg" src="static/img/flask.png" alt="Advertising icon">
          <h4></h4>
        </div>
      </div>
    </section>
{% endblock %}