<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en">
<head>
  <title> RESULTS </title>
  <!-- Meta Tags Begin -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="">
  <meta name="robots" content="index follow">
  <meta name="description" content="">
  <!-- Link tags begin -->
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="/static/js/jquery-2.1.4.min.js"> </script>
</head>
<body>
  <div id="rel">
    <div class="mobile-nav">
      <i class="fa fa-times"> </i>
      <ul>
        <li class="port"><a href="#"> The Software </a> </li>
        <li><a href="/about/"> About Us</a> </li>
        <li><a href="mailto:modupeh1@gmail.com"> Contact </a> </li>
      </ul>
    </div>
  </div>

  <div class="pos-fixed">
    <div class="container">
      <div class="logo"><a href='/'> <span class="blue">Melon</span>omics </a> </div>
      <div id="toggle">
        <i class="fa fa-bars fa-2x"> </i>
        </div>
        <!-- toggle for mobile end above -->
        <!-- navigation links start below -->
      <nav>
        <ul>
          <li class="port"><a href="/software/"> The Software </a> </li>
          <li><a href="/about/"> About Us </a> </li>
          <li><a href="mailto:modupeh1@gmail.co.uk"> Contact </a> </li>
        </ul>
        </nav>
      <!-- navigation end -->
      <!-- end of container below -->
      </div>
    <!-- end of pos-fixed -->
    </div>
    <section class="team-profiles">
      <div class="container">
        <h2 id="team"></h2>
        </div>
    <header>
    <div class="header header-about"> 
    <h2>   .     </h2>
    <h2>   .     </h2>
      <div> {% block content%}{% endblock%}
        <!-- ends header below -->
      </div>
      <div class="container">
        <!--  for profile section -->
        <div class="bit-2">
          <div class="bit-2">
    </header>
    <!-- ** begin team profiles section ** -->
    
  <section>
      <div class="contact-cta">
      <h2> </h2>
      <p> </p>
      <div class="button home-contact">
        <a href="mailto: modupeh1@gmail.co.uk"> Contact Us </a>
          </div>
        </div>
    </section>
    <footer>
      <div class="container">
        <div class="copyright">

          <p> &copy; 2017 Betts, M., Rahman, NM., Rhodes, MC.,  Knowles, AD.  </p>


          <ul>
            <li><a href="#"> GitHub Page </a> </li>

            <li><a href="http://www.qmul.ac.uk/postgraduate/taught/coursefinder/courses/121410.html"> Connect </a> </li>
          </ul>

      </div>
    </div>
    </footer>
    <script src="/static/js/functions-min.js" async> </script>
  </body>
</html>