<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en">
<head>
  <title> Melon </title>
  <!-- Meta Tags Begin -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="">
  <meta name="robots" content="index follow">
  <meta name="description" content="">
  <!-- Link tags begin -->
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="/static/js/jquery-2.1.4.min.js"> </script>
</head>
<body>
  <div id="rel">
    <div class="mobile-nav">
      <i class="fa fa-times"> </i>
      <ul>
        <li class="port"><a href="#"> The Software </a> </li>
        <li><a href="/about/"> About Us</a> </li>
        <li><a href="mailto:modupeh1@gmail.com"> Contact </a> </li>
      </ul>
    </div>
  </div>

  <div class="pos-fixed">
    <div class="container">
      <div class="logo"><a href='/'> <span class="blue">Melon</span>omics </a> </div>
      <div id="toggle">
        <i class="fa fa-bars fa-2x"> </i>
        </div>
        <!-- toggle for mobile end above -->
        <!-- navigation links start below -->
      <nav>
        <ul>
          <li class="port"><a href="#"> The Software </a> </li>
          <li><a href="/about/"> About Us </a> </li>
          <li><a href="mailto:modupeh1@gmail.co.uk"> Contact </a> </li>
        </ul>
        </nav>
      <!-- navigation end -->
      <!-- end of container below -->
      </div>
    <!-- end of pos-fixed -->
    </div>
  <!-- begin header -->
    <header>
    <div class="header header-about"> 
      <h1> The Software </h1>
      <p> Melonomics is designed to analyse and interpret data from transcriptomics experiments. It is optimised for the analysis of transcripts from de-novo assembled RNA-seq data. The basis of the statistical analysis is focussed around the associated FPKM values for each assembled transcript, and identifying the differentially expressed and top genes from each sample group. Melonomics outputs publication standard interactive plots that can be downloaded.

    </p>
    <!-- if we decide to include the documentation on the link i can activate and creat a link here
    <div class="button pos-button scroll-port"> Software Documentations </div>
      <!-- ends header below -->
    
      <!-- ends header below -->
    </div>
    </header>
    <!-- end header -->
    <!-- begin services section -->
    <section>
    <div class="container">
      <div class="Tools">
        <h2> Tools </h2>
        <div class="bit-3">
        <div class="responsive">
          <img class="responsive-svg" src="/static/img/nucleutide-blast-cover.png" alt="NCBI icon">
          <h4>Blastn and Biopython query input transcripts sequence against a NCBI database</h4>
          </div>
        <!-- closes responsive div - above -->
        </div>

        <!-- closes bit-3 div - above -->
        <!-- Begin R icon -->
        <div class="bit-3">
          <div class="branding">
            <img class="branding-svg" src="/static/img/r.png" alt="R icon">
            <h4> Publication standard interactive plots are produced using a multitude of R packages</h4>
            <!-- closes branding div - below -->
        </div>
        <!-- closes bit-3 div - below -->
      </div>

      <div class="bit-3">
        <div class="digi-ad">
          <img class="digi-ad-svg" src="/static/img/flask.png" alt="Advertising icon">
          <h4> Web interface was built using the lightweight python flask web framework</h4>
        </div>
      </div>
    </section>
    
    <section>
      <div class="contact-cta">
      
      <div class="button home-contact">
        <a href="mailto:modupeh1@gmail.co.uk"> Contact Us </a>
          </div>
        </div>
    </section>
    <footer>
      <div class="container">
        <div class="copyright">

          <p> &copy; 2017 Betts, M., Rahman, NM., Rhodes, MC.,  Knowles, AD.  </p>


          <ul>
            <li><a href="#"> GitHub Page </a> </li>
            <li><a href="http://www.qmul.ac.uk/postgraduate/taught/coursefinder/courses/121410.html"> Connect </a> </li>
          </ul>

      </div>
    </div>
    </footer>
    <script src="/static/js/functions-min.js" async> </script>
  </body>
</html>
