<!-- extends the style headers from the layout.html file -->
{% extends "layout.html"%}

<!-- the block inserts the portion below in the specified region of the loayout. html file -->
{%block content%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload_1</title>
</head>
<body>
<h2>Upload Group 1 Sequence files</h2>
<h6>files must be .fasta files (example: filename.fasta)</h6>
<div>
	<form id="upload-form" action="{{ url_for('upload_1') }}" method="POST" enctype="multipart/form-data">
	    <input type="file" name="file" accept="file" multiple>
	    <input type="submit" value="Upload Group 1 files" color= "black">
</form>
</div>
</body>
</html>

{% endblock %}

<!-- insertion block ends here -->