<!-- extends the style headers from the layout.html file -->
{% extends "layout.html"%}
<!-- the block inserts the portion below in the specified region of the loayout. html file -->

{%block content%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>
<body>
<h1>Upload 24hrs after Infection Sequence file</h1>
<form id="upload-form" action="{{ url_for('upload_3') }}" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" accept="file" multiple>
    <input type="submit" value="send">
</form>
</body>
</html>
{% endblock %}
<!-- insertion block ends here -->